@using MvcBurger.Domain.Enums;
@model MvcBurger.Web.Models.VMs.SelectedMenuVM

@{
    ViewBag.Title = "Details";
    Layout = "_Order";
}



<div class="container">
    <h2>@Model.Name</h2>

    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" alt="@Model.Name" class="img-responsive" />
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                @using (Html.BeginForm("@(TempData[\"submitAction\"])", "Order", FormMethod.Post))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.SelectedDrinkId)
                    </dt>
                    <dd>
                        @Html.DropDownListFor(model => model.SelectedDrinkId,
                    new SelectList(Model.AllDrinks, "Id", "Name"),
                    new { @class = "form-control" })
                    </dd>
                    @for (int i = 0; i < Model.Extras.Count; i++)
                    {
                        <div>
                            @Html.HiddenFor(model => model.Extras[i].SelectedIngredientId)
                            @Html.HiddenFor(model => model.Extras[i].ExtraName)
                            @Html.LabelFor(model => model.Extras[i].Checked, Model.Extras[i].ExtraName)
                            @Html.CheckBoxFor(model => model.Extras[i].Checked)
                        </div>
                    }
                    <dd>
                        <label for="Amount">Amount:</label>
                        @Html.DropDownListFor(model => model.Amount,
                    Enumerable.Range(1, 4).Select(x => new SelectListItem
                    {
                    Value = x.ToString(),
                    Text = x.ToString()
                    }),
                    new { @class = "form-control" })
                    </dd>
                    <dd>
                        @Html.LabelFor(model => model.SelectedSize)
                        @*  @Html.DropDownListFor(model => model.Size, Model.Sizes, new { @class = "form-control" }) *@
                        <select asp-for="SelectedSize"
                                class="form-control"
                                asp-items="Html.GetEnumSelectList<Size>()">
                        </select>
                    </dd>


                    <input type="submit" value="Submit" class="btn btn-primary" asp-action="@TempData["submitAction"]" />
                }
                <!-- Diğer özellikler için benzer şekilde devam edebilirsiniz -->
            </dl>
        </div>
    </div>

</div>

