@using MvcBurger.Domain.Enums;
@model MvcBurger.Web.Models.VMs.SelectedMenuVM

@{
    ViewBag.Title = "Details";
    Layout = "_Order";
}

<div class="container">
    <h2>@Model.Name</h2>

    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" alt="@Model.Name" class="img-responsive" />
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                @using (Html.BeginForm("OrderDetail", "Order", FormMethod.Post))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.SelectedDrinkId)
                    </dt>
                    <dd>
                        @Html.DropDownListFor(model => model.SelectedDrinkId,
                    new SelectList(Model.Drinks, "Id", "Name"),
                    new { @class = "form-control" })
                    </dd>
                    @for (int i = 0; i < Model.ekstralar.Count; i++)
                    {
                        <div>
                            @Html.HiddenFor(model => model.ekstralar[i].SelectedIngredientId)
                            @Html.HiddenFor(model => model.ekstralar[i].EkstraMalzemeAdi)
                            @Html.LabelFor(model => model.ekstralar[i].IstiyorMusun, Model.ekstralar[i].EkstraMalzemeAdi)
                            @Html.CheckBoxFor(model => model.ekstralar[i].IstiyorMusun)
                        </div>
                    }
                    <dd>
                        <label for="Amounts">Amount:</label>
                        @Html.DropDownListFor(model => model.Amount,
                    Enumerable.Range(1, 4).Select(x => new SelectListItem
                    {
                    Value = x.ToString(),
                    Text = x.ToString()
                    }),
                    new { @class = "form-control" })
                    </dd>
                    <dd>
                        @Html.LabelFor(model => model.SelectedSize)
                       @*  @Html.DropDownListFor(model => model.Size, Model.Sizes, new { @class = "form-control" }) *@
                        <select asp-for="SelectedSize"
                                class="form-control"
                                asp-items="Html.GetEnumSelectList<Size>()">
                            
                        </select>
                    </dd>


                    <input type="submit" value="Submit" class="btn btn-primary" />
                }
                <!-- Diğer özellikler için benzer şekilde devam edebilirsiniz -->
            </dl>
        </div>
    </div>
